# gitIgnore for Continuous Step Slider

# Examples for reference:
# https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
# https://github.com/github/gitignore/blob/main/Swift.gitignore


# Started from scratch.


## User settings
xcuserdata/
